/* CSS Document */

/*General*/

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

hr.one{
	border: none;
	border-radius: 10px;
	height: 4px;
	background: rgb(236,28,41,1);
	opacity: 100%;
}

hr.two{
	border: none;
	border-radius: 10px;
	height: 2px;
	background: rgba(62,62,62,1.00);
	opacity: 100%;
}

.btn{
	background-color: rgb(140,140,130) !important;
}

.btn:hover{
	background-color: rgb(236,28,41,1) !important;
	color: white !important;
}

.gen-h1{
	font-size: 64px;
	font-weight: bolder;
	
}

.gen-h2{
	font-size: 32px;
	font-weight: 600;	
}

/*index header & nav*/

.header{
	min-height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{
	width: 200px;
	padding: 20px, 0px;
}

.navbar_links{
	flex: 1;
	text-align: right;
}

.navbar_links ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 12px;
	position: relative;
}

.navbar_links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	font-weight: 550;
}

.navbar_links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: rgba(236,28,41,1);
	display: block;
	margin: auto;
	transition: 0.5s;
}

.navbar_links ul li:hover::after{
	width: 100%;
}

.text-box{
	width: 90%;
	color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.text-box-header{
	font-size: 64px;
	font-weight: 500;
}

.text-box-para{
	margin: 10px 0 40px;
	font-size: 24px;	
}


/* Body */

.track-top{
	padding: 30px;
}

.track-img{
	width: 100%;
	height: auto;
	border-radius: 20px;
}

.track-body{
	padding: 30px;	
}

.track-body-img-right{
	border-radius: 0 30px 30px 0;
	width: 100%;
	height: auto;
}

.track-body-img-left{
	border-radius: 30px 0 0 30px;
	width: 100%;
	height: auto;
}

/* Heritage */

.heritage-title{
	padding: 30px;
}

.heritage-h2{
	font-size: 50px;
	font-weight: 800;
	text-align: center;
}

.heritage-p{
	font-size: 20px;
	font-weight: 500;
	text-align: center;
}

.timeline-section{
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #646464;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}

.timeline-img{
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}

.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: rgba(236,28,41,1);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: rgba(236,28,41,1);
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #9c9c9c;
	padding: 30px;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(236,28,41,1);
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}



/* Footer */

.footer-form{
	text-align: left;
	padding: 50px;
	width: 100%;
}

.footer-upper{
	background-color: rgb(26,25,23);
}

.footer-start{
	
}

.footer-box{
	height: 30px;
	background-color: rgba(100,100,100,1.00);
}

.footer-row{
	padding-top: 50px;
}

.footer-row-header{
	font-size: 32px;
	font-weight: 400;
	color: #fff;
	text-align: left;
}

.form-label{
	text-align: left;
}

.footer-outer{
	width: 100%;
}

.footer-logo{
	width: 100%;
	height: auto;	
}

.testO{
	background-color: #fff;
}

.footer-image{
	width: 100%;
	height: auto;
	text-align: left;
}

.footer-map{
	width: 100%;
	border-radius: 4px;	
}

.footer-text-ugh{
	font-size: 16px;
}

.footer-links a{
	text-decoration: none;
	color: #fff;
	size: 24px;
	font-weight: 600;
}

.footer-links a:hover{
	text-decoration: none;
	color: rgb(236,28,41,1);
	size: 24px;
	font-weight: 600;
}

.footer-footer{
	padding: 20px;
	background-color: rgba(236,28,41,1);
}